# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Natural
	email = itsmrnatural@duck.com
	signingkey = 3D280550B702CBB9
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[tag]
	gpgSign = true
[core]
	editor = hx
